*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamilly;
    color:$colorBlackLight;
    font-size: $fontSize;
    font-weight: $fontWeightDefault;
    line-height: $lineHeight;

    background-color: $colorWhite;
}