.feature {
    &-header {
        text-align: center;
        padding: 0 32px;
        margin-bottom: 40px;

        h2 {
            font-size: 24px;
            color: $colorBlack;
            font-weight: $fontWeightBold;
            line-height: 52px;
            letter-spacing: -0.08px;
        }

        @include media(desktop) {
            padding: 0;
            width: 540px;
            margin: 0 auto;
            margin-bottom: 72px;

            h2 {
                font-size: 32px;
                line-height: 52px;
                letter-spacing: -0.1px;
                margin-bottom: 16px;
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    &-btn-list {
        list-style: none;
        text-align: center;

        padding: 0 32px;
        margin-bottom: 72px;

        @include media(desktop) {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            border-top: 1px solid rgba(73, 93, 207, 0.2001);

            &:last-child {
                border-bottom: 1px solid rgba(73, 93, 207, 0.2001);
            }

            &.active {
                button {
                    color: rgba($colorBlack, 0.1);
                }

                p {
                    background-color: $colorRed;
                }
            }

            @include media(desktop) {
                width: 243px;
                border-top: none;
                border-bottom: 1px solid rgba(73, 93, 207, 0.2001);
                cursor: pointer;

                &:hover button {
                    color: $colorRed;
                    cursor: pointer;
                }

                &.active {
                    button {
                        color: rgba($colorBlack, 0.75);
                    }

                    p {
                        width: 100%;
                    }
                }
            }

            button {
                font-size: 16px;
                color: rgba($colorBlack, 0.75);
                line-height: 17px;
                letter-spacing: 0.53px;

                background-color: transparent;
                border: none;
                padding: 20.5px 0 16px 0;

                transition: all 0.2s;

                @include media(desktop) {
                    padding: 0;
                    padding-bottom: 26px;
                }
            }

            p {
                background-color: transparent;
                height: 4px;
                width: 143px;
                margin: 0 auto;
            }
        }
    }

    .card {
        margin-bottom: 77px;

        @include media(desktop) {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin-bottom: 149px;
        }

        .card-header {
            height: 238px;
            margin-bottom: 32px;
            overflow: hidden;
            position: relative;
            z-index: 5;

            &::before {
                content: "";
                position: absolute;
                top: 35px;
                right: 70px;
                height: 200px;
                width: 100%;

                background-color: $colorBlue;
                border-bottom-right-radius: 25%;
                border-top-right-radius: 25%;
                z-index: -1;
            }

            &.tab-2::before {
                right: 135px;
            }

            &.tab-3::before {
                right: 115px;
            }

            @include media(desktop) {
                height: 435px;
                width: 705px;
                margin: 0;
                margin-right: 125px;

                &::before {
                    top: 80px;
                    right: 80px;
                    height: 355px;
                    border-bottom-right-radius: 33%;
                    border-top-right-radius: 25%;
                }
            }

            img {
                display: block;
                //width: 311px;
                height: 200px;
                margin: 0 auto;

                @include media(desktop) {
                    margin: 0;
                    margin-left: auto;
                    height: 346px;
                }
            }
        }

        .card-body {
            text-align: center;
            padding: 0 32px;

            @include media(desktop) {
                padding: 0;
                height: 232px;
                width: 445px;
                text-align: left;

                align-self: flex-start;
                margin-top: 57px;

            }

            h3 {
                font-size: 24px;
                color: $colorBlack;
                font-weight: $fontWeightBold;
                line-height: 52px;
                letter-spacing: -0.08px;

                @include media(desktop) {
                    font-size: 32px;
                    letter-spacing: -0.1px;
                    margin-bottom: 16px;
                }
            }

            p {
                margin-bottom: 15px;

                @include media(desktop) {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 32px;
                }
            }

            button {
                font-size: 14px;
                color: $colorWhitePure;
                font-weight: $fontWeightBold;
                line-height: 28px;
                letter-spacing: 0.25px;

                background-color: $colorBlue;
                border-radius: 5px;
                cursor: pointer;
                
                padding: 8.5px 24px;
            }
        }
    }
}
