.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;

    @include media(desktop) {
        padding: 48px 165px 48px 171px;
        margin-bottom: 60px;
    }

    .logo {
        height: 25px;
    }

    .links {
        display: none;

        @include media(desktop) {
            display: flex;
            align-items: center;
            justify-content: center;

            list-style: none;

            li {
                padding: 0 24px;

                &:first-of-type {
                    padding: 0 20px;
                }

                a, a:visited {
                    color: $colorBlack;
                    font-size: 13px;
                    line-height: 17px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    transition: all 0.2s;
                }

                a:hover, a:active {
                    color: $colorRed;
                }

            }

        }
    }

    .menu-btn {
        border: none;

        display: grid;
        place-items: center;

        @include media(desktop) {
            display: none;
        }

        img {
            width: 18px;
            height: 15px;
            fill: inherit;
        }
    }
}

.mobnav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba($colorBlack, 0.95);
    backdrop-filter: blur(32.6194px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 34px 48px 32px;

    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.2s;

    z-index: 50;
    
    &.animate {
        transform: translateY(0);
        opacity: 1;
    }

    &-header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        .logo {
            width: 148px;
            height: 25px;
        }

        button {
            height: 15px;
            width: 15px;
            border: none;
            background-color: transparent;

            img {
                height: 15px;
                width: 15px;
            }
        }
    }

    .links {
        list-style: none;

        li {
            text-align: center;
            border-top: 1px solid rgba($colorWhitePure, 0.15);
            padding: 24px 0;
            line-height: 17px;

            a {
                font-size: 20px;
                color: $colorWhitePure;
                letter-spacing: 2.31px;
                line-height: 15px;

                text-transform: uppercase;
                text-decoration: none;
            }

            button {
                display: block;
                width: 100%;

                color: $colorWhitePure;
                font-size: 20px;
                font-weight: $fontWeightBold;
                letter-spacing: 2.31px;
                line-height: 17px;

                border: 2px solid $colorWhitePure;
                border-radius: 5px;
                background-color: transparent;
                text-transform: uppercase;

                padding: 14px 0 13px 0;
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;

            &:last-of-type {
                height: auto;
                margin-left: 40px;
            }
        }
    }    
}