.container {
    width: 375px;
    //max-width: 576px;
    margin: 0 auto;

    @include media(desktop) {
        width: 1200px;
    }
}

.btn {
    font-size: 13px;
    color: $colorWhitePure;
    font-weight: $fontWeightBold;
    letter-spacing: 1.5px;
    line-height: 17px;
    text-transform: uppercase;

    background-color: $colorRed;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    cursor: pointer;
    padding: 10px 31px 10px 31px;

    transition: all 0.2s;

    &:hover {
        background-color: $colorWhitePure;
        color: $colorRed;
        border: 2px solid $colorRed;
    }
}

.disabled {
    display: none !important;
}
