.container {
    width: 375px;
    //max-width: 576px;
    margin: 0 auto;
    background-color: $colorWhitePure;

    @include media(desktop) {
        width: 1440px;
    }
}

.title {
    font-size: 24px;
    color: $colorBlack;
    font-weight: $fontWeightBold;
    line-height: 52px;
    letter-spacing: -0.075px;

    @include media(desktop) {
            font-size: 32px;
            letter-spacing: -0.1px;
    }
}

.text {
    font-size: 15px;
    color: rgba($colorBlack, 0.5);
    font-weight: $fontWeightDefault;
    line-height: 25px;

    @include media(desktop) {
            font-size: 18px;
            line-height: 28px;
    }
}

.btn {
    display: inline-block;
    font-size: 13px;
    color: $colorWhitePure;
    font-weight: $fontWeightBold;
    letter-spacing: 1.5px;
    line-height: 17px;
    text-transform: uppercase;

    background-color: $colorRed;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: $boxShadow;
    cursor: pointer;
    padding: 10px 31px 10px 31px;

    transition: all 0.2s;

    &:hover {
        background-color: $colorWhitePure;
        color: $colorRed;
        border: 2px solid $colorRed;
    }
}

.btn-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: $fontWeightBold;
    letter-spacing: 0.25px;
    line-height: 28px;

    border-radius: 5px;
    box-shadow: $boxShadow;
    padding: 8.5px 14.5px 8.5px 15.5px;

    &--blue {
        background-color: $colorBlue;
        color: $colorWhitePure;   
        border: 2px solid $colorBlue;    
    }

    &--white {
        color: rgba($colorBlack, 0.75);
        border: 2px solid transparent;
    }

    @include media(desktop) {
        padding: 8.5px 22.5px;
        transition: all 0.2s;

        &--blue:hover {
            background-color: transparent;
            color: $colorBlue;
        }

        &--white:hover {
            border: 2px solid rgba($colorBlack, 0.75);
        }
    }
}


.disabled {
    display: none !important;
}

