@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$colorBlue: #5267DF;
$colorRed: #FA5959;
$colorBlack: #242A45;
$colorBlackLight: rgba(37, 43, 70, 0.5);
$colorGray: #9194A2;
$colorWhite: #F2F2F2;
$colorWhitePure: #ffffff;

$fontFamilly: 'Rubik', sans-serif;
$fontSize: 15px;
$fontWeightDefault: 400;
$fontWeightBold: 500;
$lineHeight: 25px;